/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,matrix_transform = &five_column_transform; };

    behaviors {
        hrm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <125>;
            flavor = "tap-preferred";
            quick-tap-ms = <150>;
        };
    };

    macros {
        macro_test: macro_test {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp M &kp E &kp S &kp N &kp I &kp SPACE &kp B &kp U &kp R &kp E &kp K>;
            label = "MACRO_TEST";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colebase {
            bindings = <
  &kp Q         &kp W         &kp F        &kp P        &kp B        &kp J        &kp L            &kp U         &kp Y         &macro_test
  &hrm LSHFT A  &hrm LCTRL R  &hrm LALT S  &hrm LGUI T  &kp G        &kp M        &hrm RGUI N      &hrm RALT E   &hrm LCTRL I  &hrm RSHFT O
  &kp Z         &kp X         &kp C        &kp D        &kp V        &kp K        &kp H            &kp COMMA     &kp DOT       &kp FSLH
                              &lt 0 ESC    &lt 0 SPACE  &lt 0 TAB    &lt 0 ENTER  &lt 0 BACKSPACE  &lt 0 DELETE
            >;

            label = "base";
        };
    };
};
